@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.demo {
    display: flex;
}

.code-input {
    width: 450px;
    height: 200px;
    margin: 25px;
    /*background-color: #1e1e1e;
    color: white;*/
}

.code-input-error {
    background-color: red;
}

.result {
    height: 200px;
    stroke-width: 1px;
    outline: solid;
    outline-width: 1px;
    margin: 25px;
    width: auto;
}